@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html {
    color: #072F0B;
    font-size: 1em;
    line-height: 1.4;
    background-color: #ffff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
button {
  border: none;
}


h1{
   color: #D98E1D;
   font-weight: 600;
   font-size: 3.2rem;
   margin: 0 auto;
   line-height: 3rem;
 }

 p{
   margin: 9px 0 9px 0;
   line-height: 1.5rem;
 }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #D98E1D;
  color: #072F0B;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #86C3B1;
}

/* ==========================================================================
      Home Page
========================================================================== */
/*Header*/

header {
 width: 100%;
 height: 215px;
 text-align: center;
 color: #072F0B;
 z-index: 100;
 background-color: #D9D465;
 /* fix me
 background-image: url('../img/homepgimgs/headermark.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/
}

.sneaky {
    background-image: url('../img/homepgimgs/headermark_sneaky.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 40px;
}

.headimg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
  }

  header nav{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  header nav a{
      color: #000;
      text-decoration: none;
      margin: 2%;
      font-size: 1.1em;
  }

  header nav a:hover{
      color: #7A3122;
  }

  a {
    text-decoration: none;
  }

.homelogo{
  width:80%;
  height:auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
margin-top: -40px;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}


/* ----- Mobile Menu ---- */

.sidenav {
  height: 350px;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #86C3B1;
    opacity: 95%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #072F0B;
  display: block;
  transition: 0.3s;
  position: relative;
  top: -30px;
}

.sidenav a:hover {
  color: #FFFEDD;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  padding-top: 45px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburger{
  display: none;
}

/* ---- End Mobile Menu ----*/

/* Homepage Hero */


.hero{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-end;
 width: 100%;
 height: 100%;
 top:-40px;
 }

 .hero img{
     max-width: 100%;
     height: auto;
 }

 .hero h1{
   text-align: center;
 }

 .hero1{
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('../img/homepgimgs/GiraffeFeed5.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;


 }

 .hero2{
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('../img/homepgimgs/TourGuide.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 }

 .hero3{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('../img/homepgimgs/Eland2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

 .intro{
 width: 50%;
 text-align: left;
 font-size: 1.1em;
 height: 100vh;
 position: relative;
 }

 /* Made some changes here */

 .positionme {
  left: 10%;
  position: relative;
  top: 5%;
  padding: 2%;
}
.positionme p {
 color: #FFFEDD;
 font-size: 50px;
 font-weight: 600;
 line-height: 53px;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  color: #D9D465 !important;
}

/* Made changes above */

.positionmeguide {
 left: 50%;
 position: relative;
 top: 55%;
 padding: 2%;
 color: #FFFEDD;
}

.positionmeemu {
   left: 20%;
   position: relative;
   top: 10%;
   color: #FFFEDD
}
/* End Homepage Hero */

/* Slick Settings */

.slick-prev {
    left: 100px !important;
    z-index: 100;
}

button.slick-prev.slick-arrow {
}

.slick-next {
    right: 100px !important;
    z-index: 100;
}

button.slick-next.slick-arrow {
}

    /* Footer Section */

footer.home {
        width: 100%;
        height: 230px;
        text-align: center;
        color: #072F0B;
        z-index: 100;
        background-image: url('../img/homepgimgs/footermark.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        bottom: 0;
        margin-top: -60px;
       }

footer {
    width: 100%;
    height: 230px;
    text-align: center;
    color: #072F0B;
    z-index: 100;
    background-image: url('../img/homepgimgs/footermark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 0;
   }

   .stickyfooter{
     position: absolute;
     bottom: 0;
   }

   .footer-area{
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     margin: 0 auto;
     padding-top: 30px;;
   }

.footeraddress{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  width: 100%;
  font-size: 18px
}

.boldme{
  font-weight: 600;
}

   .footerdirections{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 4%;
     width: 100%;
    background-image: url('../img/backgroundboardwide.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65px;
   }

.footerdirections button{
  width: 200px;
  height: auto;
  color: #072F0B;
  font-size: 28px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
}

.footerdirections:hover{
  background-image: url('../img/backgroundboardwidehover.svg');
}


.footerlogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 100%;
}

.footerlogo img{
  width: 200px;
}

   .socialmedialinks{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 4%;
     flex-direction: row;
     width: 100%;
   }

   .socialmedialinks img{
     width:55px;
     margin: 5%;
   }

   .socialmedialinks img:hover{
     opacity: .5;
   }

   footer nav{
     width:90%;
   }

   footer a{
       color: #000;
       text-decoration: none;
       margin: 5px 15px;
       font-size: 1.1em;
   }
/* End Footer Section */

/* ==========================================================================
      Reusable Sections
========================================================================== */
.MajorSection{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.centerme{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2%;
  flex-direction: row;
}

.centerme_about{
  width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2%;
  flex-direction: row;
}

.centerme_about h2{
  text-align: left;
  padding-right: 3%;
}

.centerme_column{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  flex-direction: column;
}

.main_content{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.sidebar_content{
  width: 28%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left_maincontent{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  padding: 2%;
}

.left_maincontent h1{
  margin-left: 0;
}

.right_maincontent{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  padding: 2%;
}

.modal a.close-modal {
  position: absolute;
  top: 17.5px !important;
  right: 12.5px !important;
}


/* ==========================================================================
      End Reusable Sections
========================================================================== */
/* ==========================================================================
      About Section
========================================================================== */
.CenterSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CenterSection h1 {
    position: relative;
}

.CenterSection h2 {
  text-align: right;
}

.center_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
}

.animallinks img{
  width: 30px;
}

.squeezeme {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15%;
}

.resizeimg{
  width: 100%;
  height: auto;
}

.registerbtn{
  width: 280px;
  color: #fff;
  height: 70px;
  font-size: 28px;
  cursor: pointer;
  background-image: url('../img/backgroundboardnoclick.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.About_Section{
  flex-direction: row;
  display: flex;
  text-align: left;
  color: #072F0B;
  font-size: 28px;
  line-height: 2.5em;
}
.shorty{
  line-height: 1.2em;
}

.About_Section a{
  color: #072F0B;
}
.About_Section_2lines a{
  color: #072F0B;
}

.About_Section a:hover{
  color: #86C3B1;
}
.About_Section_2lines a:hover{
  color: #86C3B1
}

.About_Section a:hover img {
    display: inline;
}

.accordionshow{
  display: none;
}

.pushdown{
  margin-top: 55px;
}

.deerlink{
  width: 15px;
  height: auto;
  margin-right: 10px;
  display: none;
}

.deerlink img{
  width: 15px;
  height: auto;
}

.about_intro_content {
    width: 75%;
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
    line-height: 1.6em;
}
.about_intro_content h1{
  font-size: 3em;
}

#SmoothScrollGiraffes
#SmoothScrollSafari
#SmoothScrollPettingZoo
#SmoothScrollZooExibits
#SmoothScrollReptilesandExotics
#SmoothScrollBabyAnimal
#SmoothScrollMuseum
#SmoothScrollParkInfo {
  display: flex;
  justify-content: left;
  color: #D98E1D;
  font-weight: 600;
  font-size: 48px;
}

.map_img img{
  width: 70%;
  height: auto;
}

.content_img{
  padding-top: 20px;
  padding-bottom: 20px;
  }

.content_img img{
  width: 100%;
  height: auto;
}








/* ==========================================================================
      Animals Page
========================================================================== */
/*Animal Intro paragraph uses styling from the reusable section above*/

#SmoothScrollMammals {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SmoothScrollBirds {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SmoothScrollReptilesandAmphibians {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#SmoothScrollFish {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End Animal Intro*/

/* Main Animal Images*/
.animals_section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0% 2% 0;
}

.AnimalImages{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}

.Ind_Photo{
  width: 100%;
  margin: 5px;
}

.Ind_Photo img{
  display:flex;
  flex-direction: row;
  margin: auto;
  width: 350px;
  height: auto;
}


/* End Main Animal Images*/
/*Hoverstate setup*/
.Ind_Photo{
  position: relative;
  width:50%;
}

.image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Ind_Photo:hover .image {
  opacity: 0.3;

}

.Ind_Photo:hover .middle {
  opacity: 1;
}

.AnimalHoverName {
  background-color: #D98E1D;
  color: #072F0B;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
}
/*End Hoverstate setup*/
/*Animal Modal Images*/
.modal img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 374px;
  margin: 0 auto;
}
.modal{
  width: auto;
  height:auto;
}

.modal h3{
    text-align: center;
}


/*End Animal Modal Images*/



/* ==========================================================================
      Education
========================================================================== */


/*Accordian Monthly Events*/

.accordion {
  background-color: #86C3B1;
  color: #072F0B;
  cursor: pointer;
  padding: 18px;
  margin: 12px;
  width: 40%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #D98E1D;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #FFFEDD;
  width: 40%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*Add a symbol to each button to indicate whether the collapsible content is open or closed:*/
.accordion:after {
  content: '\02795'; /* Unicode character (+) */
  font-size: 13px;
  color: #072F0B;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character (-) */
  color: #7A3122;
}

/*End Accordian Monthly Events*/

.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    flex-direction: column;
}

.centerme_events{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2%;
}

.centerme_events_special h3{
  width: 90%;
  margin: 1%;
  text-align: center;
}

.centerme_events h3{
  text-align: left;
  width: 30%;
  margin-right: 2%;
}

.centerme_events p{
  text-align: left;
  width: 65%;
}




/* ==========================================================================
   Plan Your Visit
   ========================================================================== */
   /* Contact Us */

   .contactUs{
     width: 90%;
   }

   .contactUs_content{
     position: relative;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 80%;
   }

   input{
     width: 450px;
     border: none;
     margin: 5px;
     height: 30px;
     padding: 10px;
     box-shadow: none;
     background-color: #86C3B1;
   }

   textarea{
     width: 450px;
     min-height: 450px;
     border: none;
     margin: 5px;
     height: 30px;
     box-shadow: none;
     background-color: #86C3B1;
   }

   input.Submit_Button{
     background-color: rgba(255, 0, 0, 0);
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 250px;
     height: 70px;
     font-size: 20px;
     cursor: pointer;
     background-image: url('../img/backgroundboardwide.svg');
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
   }

   input.Submit_Button:hover{
     background-image: url('../img/backgroundboardwidehover.svg');

   }


.left_maincontent iframe{
margin-top: 25px;
width: 100%;
}

.mailing_address p{
  margin-top: 50%;
}


/* ==========================================================================
   Map
   ========================================================================== */

   .MapLayout{
     height: 1000px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     overflow-x: scroll;
   }

   .Map {
     width: 3000px;
     height: 1900px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       position: absolute;
       top: 0px;
       left: 0px;
       background-image: url('../img/LakeTobiasMap.svg');
       background-repeat: no-repeat;
       background-size: cover;
   }




   .animallink{
     z-index: 1;
   }
/* show this at the end for correct hover. Also change hover opacity to 100%
.animallink{
  opacity: 0;
}*/
  .animallink:hover{
    opacity: 0;
  }

#alligator {
    background-image: url('../animalhover/alligator.svg');
    position: relative;
    top: -491px;
    right: -705px;
    width: 56px;
    height: 56px;
}
#alpaca {
  background-image: url('../animalhover/alpaca.svg');
  position: relative;
  top: -582px;
  right: 52px;
  width: 56px;
  height: 56px;
}

#aoudad_sheep {
  background-image: url('../animalhover/aoudadsheep.svg');
  position: relative;
  top: -609px;
  right: 208px;
  width: 56px;
  height: 56px;
}

#axis_deer {
  background-image: url('../animalhover/axisdeer.svg');
  position: relative;
  top: 248px;
  right: -1240px;
  width: 56px;
  height: 56px;
}

#baboon {
  background-image: url('../animalhover/baboon.svg');
  position: absolute;
  top: 541px;
  right: 886px;
  width: 56px;
  height: 56px;
}

#bear {
  background-image: url('../animalhover/bear.svg');
  position: absolute;
  top: 454px;
  right: 548px;
  width: 56px;
  height: 56px;
}

#bison {
  background-image: url('../animalhover/bison.svg');
  position: absolute;
  top: 254px;
  right: 2666px;
  width: 56px;
  height: 56px;
}

#bobcat {
  background-image: url('../animalhover/bobcat.svg');
  position: absolute;
  top: 770px;
  right: 807px;
  width: 56px;
  height: 56px;
}

#camel {
  background-image: url('../animalhover/camel.svg');
  position: absolute;
  top: 884px;
  right: 94px;
  width: 56px;
  height: 56px;
}

#capybara {
  background-image: url('../animalhover/capybara.svg');
  top: 294px;
  right: 834px;
  position: absolute;
  width: 56px;
  height: 56px;
}

#deer {
  position: absolute;
  top: 15.5%;
  right: 72.5%;
  width: 50px;
  height: 50px;
}

#donkey {
  background-image: url('../animalhover/donkey.svg');
  position: absolute;
  top: 1327px;
  right: 780px;
  width: 56px;
  height: 56px;
}

#eland {
  position: absolute;
  top: 22.7%;
  right: 69.2%;
  width: 50px;
  height: 50px;
}

#elk {
  position: absolute;
  top: 32%;
  right: 70.6%;
  width: 50px;
  height: 50px;
}

#emu {
  position: absolute;
  top: 15%;
  right: 64.7%;
  width: 50px;
  height: 50px;
}

#exotic_bird {
  position: absolute;
  top: 10.5%;
  right: 59.3%;
  width: 50px;
  height: 50px;
}

#fallow_deer {
  position: absolute;
  top: 22.1%;
  right: 55%;
  width: 50px;
  height: 50px;
}

#fawn {
  position: absolute;
  top: 13.1%;
  right: 51.7%;
  width: 50px;
  height: 50px;
}

#fish {
  position: absolute;
  top: 22.5%;
  right: 49.9%;
  width: 50px;
  height: 50px;
}

#gemsbok {
  position: absolute;
  top: 17%;
  right: 46%;
  width: 50px;
  height: 50px;
}

#giraffe {
  position: absolute;
  top: 12%;
  right: 43.3%;
  width: 50px;
  height: 50px;
}

#girbrahman {
  position: absolute;
  top: 19.5%;
  right: 41.5%;
  width: 50px;
  height: 50px;
}

#goat {
  position: absolute;
  top: 36.2%;
  right: 32.1%;
  width: 50px;
  height: 50px;
}

#highland_cattle {
  position: absolute;
  top: 35.2%;
  right: 29.3%;
  width: 50px;
  height: 50px;
}

#jacobs_sheep {
  position: absolute;
  top: 22.2%;
  right: 28.7%;
  width: 50px;
  height: 50px;
}

#kangaroo {
  position: absolute;
  top: 30.7%;
  right: 26.3%;
  width: 50px;
  height: 50px;
}

#lamb {
  position: absolute;
  top: 12.5%;
  right: 19.4%;
  width: 50px;
  height: 50px;
}

#lion {
  position: absolute;
  top: 13.7%;
  right: 14.4%;
  width: 50px;
  height: 50px;
}

#llama {
  position: absolute;
  top: 25.2%;
  right: 21.7%;
  width: 50px;
  height: 50px;
}

#longhorn {
  position: absolute;
  top: 29.8%;
  right: 16.7%;
  width: 50px;
  height: 50px;
}

#mini_horse {
    position: absolute;
    top: 37.8%;
    right: 22%;
    width: 50px;
    height: 50px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (max-width: 768px) {
/*homepage intro titling*/
  .positionme h1{
    font-size: 2em;
  }
  .positionmeguide h2{
    font-size: 1em;
  }
  .positionmeguide{
    top: 50%;
  }

  .positionmeemu h2{
    font-size: 1em;
  }
/*Header*/
.homelogo{
  padding: 40px 0 0 0;
}

.hero1{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('../img/homepgimgs/GiraffeFeedsmall.jpg');
}
.hero2{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('../img/homepgimgs/TourGuidesmall.jpg');
}
/*plan visit*/

    .Schedule{
    font-size: 80%;
    text-align: center;
}


   .hideme{
     display: none;
   }

   .hamburger{
     display: flex;
   }

   .abouthide{
     display: none;
   }

   .accordionshow{
     display: flex;
     justify-content: center;
   }
   .accordion{
     width: 80%;
   }

   .panel{
     width: 80%;
   }

/*Mobile Park Info*/
.squeezeme{
  margin: 0 auto;
}
/*End Mobile Park Info*/
.ParkInfoBreak{
  justify-content: left;
  flex-direction: row;
}


   .panel p{
     font-size: 0.85em;
   }

   .main_content {
    width: 100%;
}

   .about_intro_content h1{
     font-size: 2em;
   }

   .about_intro_content p{
     font-size: 0.85em;
   }

   .About_Section{
     font-size: 1.25em;
     width: 100%
  }

  .centerme {
      flex-direction: column;
  }

  .sidebar_content{
      margin: 0 auto;
}

/*Plan Your Visit*/
.mailing_address p{
  margin-top: 0;
}
input{
  width: 350px;
}

textarea{
  width: 350px;
}

/*Education Page*/
.Register{
  margin-top: 0%
}






/* Footer */
.footeraddress{
font-size: 15px;
margin-top: 65px;
}

.footeraddress p{
line-height: 1.2em;
}

.footerlogo{
  display: none;
}

.footerdirections {
  margin-top: 65px;
  width: 60%;
}

.footerdirections button {
font-size: 30px;
}

.socialmedialinks img{
  width:40px;
  margin: 50px 20px 0 20px;
}



 }




@media only screen and (max-width: 460px) {
    /* Style adjustments for viewports that meet the condition */
    .Schedule{
    font-size: 80%;
    text-align: center;

}


header nav a{
    color: #000;
    text-decoration: none;
    margin: 1%;
    font-size: .80em;
}

.footer-area{
  flex-direction: column;
}

/* Footer */
.footer-area{
  flex-direction: column;
  justify-content: center;
}

.footeraddress{
font-size: 10px;
margin-top: 25px;
}

.footeraddress p{
line-height: 1.2em;
}

.footerlogo{
  display: none;
}

.footerdirections {
  margin: 0 auto;
  width: 40%;
  height: 40px;
}

.footerdirections button {
font-size: 20px;
}

.socialmedialinks img{
  width:30px;
  margin: 0 20px 0 20px;
}


/*modal animal page*/
.modal img {
    width: 250px;
}

/*accordion sizing on education page*/
.centerme_events h3{
  font-size: 15px;
}
.panel p{
  font-size: 0.75em;
}


}

@media only screen and (max-width: 350px) {
    /* Style adjustments for viewports that meet the condition */
    .Schedule{
    font-size: 50%;
      }

      header nav a{
          color: #000;
          text-decoration: none;
          margin: 1%;
          font-size: .50em;
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

}

@media only screen and (max-width: 350px) {

  header{
    width: 100%;
    margin: auto;
    padding: 10px;
  }

  img.homelogo {
    width: 30em;
}

}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
